// Colors

@sheet: #fff;
@grey: #ddd;
@chrome: #444;

// Dimensions
@leftCol: 12em;
@gutter: 3rem;
@activate_col: 50px;
@list: 350px;
@list_desktop: 400px;

// Fixes

html {
  height: 100%;
}

input, select, textarea {
  font: inherit;
  border-style: none;
  color: inherit;
  background-color: inherit;
  text-align: inherit;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

// Layout

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: @chrome;
  display: flex;
}

#react-target {
  min-height: 100%;
  display: contents;
}

aside#sidebar {
  color: @sheet;
  z-index: 1;
  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  font-size: 16px;
  font-family: 'Inter var', 'Inter', Helvetica, Arial, sans-serif;

  width: @list_desktop;
  padding: 0;
  margin: 0;

  li a {
    display: inline-block;
    padding-top: 0.15em;
    padding-bottom: 0.1em;
    text-decoration: none;
    letter-spacing: -0.015em;

    &:hover {
      text-decoration: none;
    }
  }

  #suchtext {
    background-color: #666;
    padding: 0.2em 0.6em 0;
    margin: 0.5em;
    line-height: 2em;
    border-radius: 0.5em;
    width: calc(100% - 1em);
    box-sizing: border-box;
  }

  #suchtext:placeholder-shown + #clear_filter {
    display: none;
  }

  #clear_filter {
    cursor: pointer;
    color: white;
    font-size: 1.4em;
    display: inline-block;
    text-align: center;
    width: 1.2em;
    height: 1.2em;
    margin-left: -1.7em;
  }

  #lists {
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }

  ul#taglist {
    overflow-y: scroll;
    scrollbar-width: thin;

    overflow-x: hidden;
    box-sizing: border-box;
    padding-left: 1em;
    padding-top: 1em;
    width: 40%;
    direction: rtl;
    margin: 0;
    padding-bottom: 1em;

    li {
      direction: ltr;
      text-align: left;
    }

    li a {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 0.9em;

      cursor: pointer;
      user-select: none;

      padding-left: 5em;
      margin-left: -5em;
      margin-bottom: 0.15em;
      border-radius: 2px;
      padding-right: 0.5em;

      transform-origin: left center;
      transform: rotate(-10deg);

      &.active {
        background-color: hsl(0, 0%, 50%);
      }

      &:hover:before {
        content: '#';
        position: absolute;
        margin-left: -0.8em;
      }
    }
  } // taglist

  ul#rezepte {
    overflow-y: scroll;
    scrollbar-width: thin;

    box-sizing: border-box;
    margin: 0;
    padding-right: 0.5em;
    letter-spacing: -0.03em;
    width: 60%;
    padding-bottom: 1em;

    hr {
      border: none;
      margin: 1em 0 0;
    }

    li a {
      display: block;
      border-bottom: 1px solid #666;
      padding-left: 0.05em;
      font-weight: 400;

      &:hover {
        background-color: #666;
      }

      &.active {
        background-color: #222;
      }
    }
  }
} // aside

#content {
  min-height: 100vh;
  width: 100%;

  transition: 0.5s;

  box-sizing: border-box;

  padding: 1em 2em 5em;
  padding-left: @leftCol;

  background-color: @sheet;
  box-shadow: 0 0 20px;

  z-index: 10;
  overflow-y: scroll;
  scrollbar-width: thin;

  overflow-x: hidden;

  #editor {
    font-family: camingocode, monospace;
    font-size: 16px;
    padding-bottom: 5em;
    padding-top: 1em;
    margin-top: -1em;
    white-space: pre-wrap;
    .noFocusBorder;
    width: calc(100% + @leftCol / 2);
    margin-left: calc(-1 * @leftCol / 2);
  }

}

.page {
  strong {
    font-weight: normal;
    //background-color: yellow;
  }

  a {
    text-decoration: underline;
  }

  ul.tags {
    display: none;
  }

  .dirty {
    color: #c50409;
  }

  p, ol, ul {
    padding-left: 0;
    margin-top: 0;

    li {
      margin-bottom: 0.5em;
    }
  }

  ol, ul {
    li p {
      display: contents;
    }
  }

  ul li:before {
    content: "–";
    width: 1em;
    display: inline-block;
    margin-left: -1em;
  }

  a {
    color: #000;
  }

  code {
    font-family: camingocode, monospace;
    font-size: 0.9em;
    background-color: @grey;
    border-radius: 0.2em;
    display: inline-block;
    padding: 0 0.2em;
  }

  div.img {
    margin: 0 -0.5em 1em;
    width: calc(100% + 1em);
    max-width: 26em;

    img {
      border-radius: 1.5em;
      border: 1px solid transparent;
      min-height: 8em;
      width: 100%;
      background-color: #eee;
      filter: brightness(100%) contrast(100%);
      transition: filter 0.5s;
    }

    .legend {
      font-family: 'pica';
      font-style: italic;
      text-align: center;
      font-size: 0.8em;
    }
  }

  hr {
    display: block;
    text-align: center;
    border: none;
    margin: 1.6em 0 1.6em -4em;
    clear: both;

    &::before {
      content: 'OPQ';
      font-family: flowers1;
      color: black;
      font-size: 1.6em;
    }
  }

}

.page + #share {
  display: none;
  height: 4em;
  margin: 4em 0 0;

  cursor: pointer;
  background-size: contain;
  opacity: 0.3;

  background: url('/share.svg') no-repeat center;

  &:hover {
    opacity: 0.4;
  }
}

@media (hover: none) or (max-width: 1024px) {
  .page + #share {
    display: block;
  }
}

aside#tools {
  width: calc(@leftCol / 2 - 1em);

  position: sticky;
  margin-left: calc(-1*@leftCol + 0.7em);
  height: 0;

  .button {
    display: block;
    height: 3em;
    margin: 0 0.5em 1em;

    cursor: pointer;
    background-size: contain;
    opacity: 0.3;

    &.ok {
      background: url('/ok.svg') no-repeat center;
    }
    &.cancel {
      background: url('/cancel.svg') no-repeat center;
    }

    &:hover {
      opacity: 0.4;
    }
  }

  ul {
    margin: 0;
  }

  li, label {
    display: block;
    width: 100%;
    margin-bottom: 0.5em;
    border-radius: 0.8em;

    font-family: camingocode, monospace;
    text-align: center;
    word-break: break-all;

    span {
      display: block;
      font-size: 14px;
    }

    &.gone {
      opacity: 0.5;
    }

    img {
      display: block;
      background-color: @grey;
      width: 100%;
      min-height: 4em;
      border-radius: inherit;
      cursor: grab;
      opacity: 1;
      font-size: 17px;

      &.x {
        padding: 0.5em 0.9em;
        box-sizing: border-box;
      }
    }
  }

  @dropperHeight: 5em;

  li#blueprint {
    height: @dropperHeight;
    box-sizing: border-box;
    background-color: @grey;
    transition: 0.1s margin-top;
  }

  #dropzone {
    border: 3px dashed @grey;
    text-align: center;
    height: @dropperHeight;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;

    input {
      width: 0;
    }

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: inherit;
      top: 0;
      left: 0;
      z-index: -1;
      background: url('/cross.svg') no-repeat center;
      background-size: 2em;
      transform: rotate(0deg);

      opacity: 0.3;
      transition: 0.2s transform;
    }

    &:hover:before {
      opacity: 0.4;
    }

    &.x:before {
      transform: rotate(45deg);
    }

    &.over, &:active {
      background-color: @grey;
    }
  }

}

.hover {
  box-shadow: #0000005c 0 6px 22px, #00000026 0 1px 5px;
}

ul.ingredients {
  list-style-type: none;
  font-style: italic;
  text-align: right;
  font-family: pica;
  font-size: 0.9em;

  width: @leftCol - @gutter - 0em;
  float: left;
  margin-left: -@leftCol;

  li span {
    margin: 0 0.1em;
  }

  li:before {
    content: none;
  }

  li {
    cursor: pointer;

    &:hover span.quantity,
    input.quantity {
      background-color: #ddd;
      border-radius: 0.4em;
      margin: 0 0;
      padding: 0 0.1em;
    }

  }

  input.quantity {
    outline: none;
  }

  .unit {
    margin-left: 0;

    &:empty {
      display: none;
    }
  }

}

// Typo

body {
  font-family: double_pica, serif;
  font-size: 24px;
  cursor: default;
}

blockquote {
  margin-left: inherit;
  font-style: italic;
}

h1 {
  font-family: three_line_pica;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 2.6em;
  text-align: left;
  margin-left: -0.05rem;
  letter-spacing: -2pt;

  &::before {
    content: 'n';
    // xyknr
    font-style: normal;
    text-align: right;
    font-family: flowers2;
    display: inline-block;
    width: 10rem;
    vertical-align: -3px;
    margin-left: -(10rem + @gutter);
    margin-right: @gutter;
  }
}

h2 {
  font-size: 1.5em;
  font-weight: normal;
  font-style: italic;

  margin: 1em 0 0.5em;
  clear: both;
}

b, i {
  font-weight: inherit;
  font-style: inherit;
}

i.on {
  background: yellow;
}


a {
  color: inherit;
}

.contentwrapper {
  display: contents;
}

#mode_flip {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50px;
  z-index: 100;
  cursor: pointer;
}

.offset {
  #mode_flip {
    right: @list;
    left: 0;
    width: auto;
  }
}


.togglerWidth(@toggler) {
  aside#sidebar {
    margin-left: -@list+(@toggler);
  }
  #content {
    transform: translateX(-@list+(@toggler));
  }
}

// Grosse Bildschirme
@media screen and (min-width: 1200px) {
  #content {
    padding-left: 28vw
  }

  ul.ingredients {
    width: calc(28vw - 2em);
    margin-left: -28vw;
  }
}

@media (max-width: 1200px) {
  body {
    font-size: 20px;
  }
}

@media (max-width: 1400px) {
  aside#sidebar {
    width: calc(@list_desktop*0.8);
  }
}


// Tablet-Modus
@media screen and (max-width: 1024px) {

  body {
    #mode_flip {
      display: block;
    }
  }

  aside#sidebar {
    font-size: 18px;
    width: @list;
  }

  .togglerWidth(@activate_col);

  .offset {
    #content {
      background-color: #ccc;

      .page img {
        filter: brightness(80%) contrast(80%);
      }
    }

    #mode_flip {
      right: @list;
    }
  }

}

// Smartphone-Modus
@media screen and (max-width: 750px) {
  .togglerWidth(@activate_col/2);

  //  Zutaten-Spalte in Haupttextfluss aufnehmen
  #content {
    padding-left: 50px;

    // Weissraum rechts des Texts reduzieren
    padding-right: 1em;

    ul.ingredients {
      font-size: 1em;
      float: none;
      position: initial;
      margin-left: 0;
      text-align: left;
      padding-left: 1em;

      li {
        margin-bottom: 0;
      }
    }

    #editor {
      margin-left: 0;
      width: 100%;
    }

    aside#tools {
      width: 4em;
      float: right;
      height: unset;
      background-color: rgba(255, 255, 255, 0.7);

      #dropzone {
        height: 4em;
      }
    }
  }

  h1::before {
    content: none;
  }

  .left {
    display: none;
  }
}

// Kleines Smartphone
@media screen and(max-width: @list + @activate_col) {
  .togglerWidth(@activate_col/4);
}

// Vollbreiten-Modus
@media (max-width: @list) {
  aside#sidebar {
    font-size: 0.9em;
    width: 100%;
    margin-left: -100%;
  }

  #content {
    transform: translateX(-100%);
    padding-left: 20px;

    .page ol, .page ul {
      padding-left: 1em;
    }
  }

  body.offset {

    #mode_flip {
      right: @list;
    }
  }
}

@media print {
  body {
    font-size: 14pt;
  }

  * {
    overflow: visible !important;
  }

  aside#sidebar,
  #edit_btn {
    display: none;
  }

  #content {
    right: 0;
    box-shadow: none;
  }
}

.noFocusBorder {
  &:focus {
    outline: none;
  }
}
